<head th:replace="WEB-INF/fragments :: head">
</head>
<body>
	<form name="form_cadastro" action="cadastro" method="post">
		<div class="form-group">
			<label for="name">Nome do Cargo</label> <input type="text"
				class="form-control" id="name" name="name"
				placeholder="Nome do cargo">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Cadastrar</button>
		</div>
	</form>
</body>
</html>