<head th:replace="WEB-INF/fragments :: head">
</head>
<body>
	<form name="form_cadastro" action="cadastro" method="post">
		<div class="form-group">
			<label for="nameElector">Nome eleitor</label> <input type="text"
				class="form-control" id="nameElector" name="nameElector"
				placeholder="Nome">
		</div>

		<div class="form-group">
			<label for="cpf">CPF eleitor</label> <input type="text"
				class="form-control" id="cpf" name="cpf" placeholder="CPF">
		</div>


		<div th:each="election : ${elections}">
			<div name="electionsId">
				<label for="election">Eleição [(${election.name})]</label>
				<div class="form-group">
					<label for="Candidate">Candidato</label> <select
						name="candidatesId">
						<option th:each="candidate : ${election.candidates}"
							th:value="${candidate.id}"
							th:attr="candidates=${candidate.name}, candidates=*{candidate.name}, showselected=(${candidate.name} == *{candidate.name})"
							th:selected="(${candidate.name} == *{candidate.name})"
							th:readonly="(${candidate.name} == *{candidate.name})"
							th:text="${candidate.name}"></option>
					</select>
				</div>

			</div>
		</div>
		</div>

		<!-- <div class="form-group">
			<label for="Candidate">Candidato</label> 
			<select id=candidateSelect="candidate">
				<option th:each="candidate : ${candidates}"
					th:with="candidateText=${candidate.name} + ' - ' + ${candidate.position.name}"
					th:value="${candidate}"
					th:attr="candidate=${candidate.name}, candidate=*{candidate.name}, showselected=(${candidate.name} == *{candidate.name})"
					th:selected="(${candidate.name} == *{candidate.name})"
					th:readonly="(${candidate.name} == *{candidate.name})"
					th:text="${candidateText}"></option>
			</select>
		</div>  -->

		<div class="form-group">
			<button type="submit" class="btn btn-primary">Votar</button>
		</div>
	</form>
</body>
</html>