<head th:replace="WEB-INF/fragments :: head">
</head>
<body>
	<form name="form_cadastro" action="cadastro" method="post">
		<div class="form-group">
			<label for="name">Nome do Candidato</label> <input type="text"
				class="form-control" id="name" name="name"
				placeholder="Nome do candidato">
		</div>
		<div class="form-group">
		<label for="name">Cargo do candidato</label>
			<select name="positionId">
			    <option th:each="position : ${positions}" 
			      th:value="${position.id}"
                  th:attr="position=${position.name}, position=*{position.name}, showselected=(${position.name} == *{position.name})"
                  th:selected="(${position.name} == *{position.name})"
                  th:readonly="(${position.name} == *{position.name})"
                  th:text="${position.name}"></option>
			</select>
		</div>
		<div class="form-group">
		<label for="name">Eleição</label>
			<select name="electionId">
			    <option th:each="election : ${elections}" 
			      th:value="${election.id}"
                  th:attr="election=${election.name}, election=*{election.name}, showselected=(${election.name} == *{election.name})"
                  th:selected="(${election.name} == *{election.name})"
                  th:readonly="(${election.name} == *{election.name})"
                  th:text="${election.name}"></option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Cadastrar</button>
	</form>
</body>
</html>