
/* GENERAL */

body {
    background-color: #e8f3f8;
    font: 1em 'Open Sans', sans-serif;
    margin: 0;
}

#main-title {
    display: flex;
    background-color: steelblue;
    width: 100%;
    margin: 0;
    padding: 0 20px;
}

header > nav {
    order: 2;
    display: flex;
    align-items: center;
    flex: 2;
}

footer {
	text-align: center;	
}

 a {
    margin: 10px;
    color: #FFF;
    text-decoration: none;
}

nav > a:hover {
    font-weight: bold;
}

h1 {
    order: 1;
    font-size: 50px;
    font-weight: bold;
    color: #FFF;
    margin: inherit;
    flex: 3;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: steelblue;
}

form {
    margin: 20px auto;
    width: 320px;
    color: steelblue;
}

input {
    padding: 10px;
    font-size: inherit;
     /* Colocar depois */
    background: #FAF6D9;
}

input:focus {
    background-color: white;
}

input[type="radio"]:checked + label {
    font-weight:  bold;
    font-size: 18px;
}

input[type="text"] {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid steelblue;
}

input[type="date"] {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid steelblue;
    text-align: center;
}

input[type="password"] {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid orange;
}

input[type="email"] {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid steelblue;
}

input[type="radio"] {
    margin: 0 8px 25px 18px;
}

input[type="radio"]:first-child {
    margin-left: 0;
}

input[type="submit"] {
    width: 344px;
    height: 45px;
    border: none;
    background-color: steelblue;
    color: white;
}

input[type="range"] {
    margin-top: 0;
    margin-bottom:  0;
}

/* INDEX */
#banner > img {
    width: 100%;
    height: 100%;
}

