<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
<meta charset="utf-8" />
<link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans}"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<script th:src="@{/script/script.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


<title th:text="${title}">Bem-vindo(a)</title>
</head>

<header th:fragment="header" id="main-title">
	<h1>Data A</h1>
	<nav>
		<a href="/">Principal</a> 
		<a href="cargo/cadastro">Cargo</a>
		<a href="eleicao/cadastro">Eleicão</a>
		<a href="candidato/cadastro">Candidato</a>
		<a href="voto">Votar</a>  
	</nav>
</header>

<footer th:fragment="footer">
	<strong>Acesso feito em:</strong> <span th:text="${dateTime}"></span>
</footer>