<head th:replace="WEB-INF/fragments :: head">
</head>
<body>
	<form name="form_cadastro" action="cadastro" method="post">
	  <div class="form-group">
	    <label for="name">Nome</label>
	    <input type="text" class="form-control" id="name" name="name" placeholder="Nome da eleição">
	  </div>
	  <div class="form-group">
	    <label for="initialDate">Data Inicial</label>
	    <input type="date" class="form-control" id="initialDate" name="initialDate" placeholder="Data Inicial">
	  </div>
	  <div class="form-group">
	    <label for="finalDate">Data Final</label>
	    <input type="date" class="form-control" id="finalDate" name="finalDate" placeholder="Data FInal">
	  </div>
	  <button type="submit" class="btn btn-primary">Cadastrar</button>
	</form>
</body>
</html>